.log_title{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.log_info{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.log_info_time{
  font-size: 0.8em;
  position: relative;
  top:-5rpx;
}
.log_info_content{
  margin-top: 10rpx;
  text-indent: 2em;
}
.log_info_waning{
    background: red;
    float: right;
    display: inline-block;
    padding: 10rpx 12rpx;
    font-size: 25rpx;
    font-weight: 900;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10rpx;
}
.seach_input{
  width:470rpx;height: 63rpx;
  float:left;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);padding: 10rpx 30rpx;
}
.seach_bottom{
  width:165rpx;float:right;height: 83rpx;line-height: 80rpx;text-align: center;    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}